@font-face {
  font-family: NotoSans;
  src: url("NotoSans-hinted/NotoSans-Light.ttf");
}

$primarycolor: rgb(38, 50, 56);


body {
  height: 100%;
  margin: 0;
  font-family: NotoSans;
  color: white;
  padding: 0;
  overflow-x: hidden;
  -ms-overflow-style: none;
}

body::-webkit-scrollbar {
  display: none;
}

ul, header, .container, footer {
  width: 100vw;
}

ul {
  height: 20vh;
  max-height: 10vh;
  margin: 0;
  padding: 1.7vh;
  .nav-container {
    height: 100%;
    width: calc(100% - 1.7vh);
    position: relative;
    .logo {
      display: inline-block;
      height: 100%;
      width: 100%;
      text-align: center;
      img{
        height: 100%;
      }
    }
    .links {
      position: absolute;
      top: 15vh;
      height: 25vh;
      width: 100%;
      bottom: 0;
      right: 0;
      display: inline-block;
      li {
        text-align: center;
        height: 33%;
        width: 100%;
        background-color: white;
        border: 1px solid black;
        a {
          position: relative;
          top: 25%;
          color: $primarycolor;
          text-decoration: none;
          font-weight: bolder;
          font-size: calc(8px + 2vh);
        }
      }
      li:active {
        background-color: rgb(40, 39, 39);
        a {
          color: rgb(0, 150, 136);
        }
      }
    }
  }
}

header {
  display: none;
  height: fit-content;
  position: relative;
  img {
    width: 100%;
  }
  h1 {
    position: absolute;
    top: 40%;
    font-size: 5.2vw;
    margin: 0.84vw;
  }
}



.container {
  margin: 29.2vh 0 0 0;
  .profile {
    display: inline-block;
    position: relative;
    height: 100%;
    width: calc(100% - 1.7vh);
    margin: 0 0 1.7vh 1.7vh;
    .text-container {
      position: absolute;
      height: 29%;
      width: 100%;
      bottom: 0;
      h1, h3 {
        margin: 0;
        text-align: right;
        width: 100%;
        height: fit-content;
      }
      h1 {
        text-transform: uppercase;
        font-size: 5vh;
        line-height: 5vh;
      }
      h3 {
        text-transform: lowercase;
        font-size: 3vh;
        line-height: 3vh;
      }
      p {
        display: none;
        width: calc(100% - 3.4vw);
        font-size: 1.8vh;
        padding: 1.7vh;
      }
      img {
        width: 100%
      }
    }
  }
  .profile:hover {
    .text-container {
      background-color: rgba(0, 0, 0, 0.5);
      height: 85%;
      top: 15%;
      p {
        display: block;
      }
    }
  }
}

.info {
  width: 50%;
  margin: 0 0 1.7vh 1.7vh;
  color: $primarycolor;
  font-size: 2.3vh;
}

footer {
  width: 100vw;
  height: 60vh;
  margin-top: 3.4vw;
  padding: 1.7vh;
  background-color: $primarycolor;
  font-size: 1.5vh;
  div {
    width: 100%;
    text-align: center;
    .icons {
      width: 100vw;
      display: block;
      text-align: center;
      font-size: 3vh;
      margin: 1.7vh;
    }
  }
}
